$color-neutral: (
  50: $ot-clr-neutral-50,
  100: $ot-clr-neutral-100,
  200: $ot-clr-neutral-200,
  300: $ot-clr-neutral-300,
  400: $ot-clr-neutral-400,
  500: $ot-clr-neutral-500,
  550: $ot-clr-neutral-550,
  600: $ot-clr-neutral-600,
  650: $ot-clr-neutral-650,
  700: $ot-clr-neutral-700,
  750: $ot-clr-neutral-750,
  800: $ot-clr-neutral-800,
  850: $ot-clr-neutral-850,
  900: $ot-clr-neutral-900,
  950: $ot-clr-neutral-950,
  1000: $ot-clr-neutral-1000,
);

$color-primary: (
  50: $ot-clr-primary-50,
  100: $ot-clr-primary-100,
  200: $ot-clr-primary-200,
  300: $ot-clr-primary-300,
  400: $ot-clr-primary-400,
  500: $ot-clr-primary-500,
  600: $ot-clr-primary-600,
  700: $ot-clr-primary-700,
  800: $ot-clr-primary-800,
  900: $ot-clr-primary-900,
  950: $ot-clr-primary-950,
);

$color-green: (
  50: $ot-clr-green-50,
  100: $ot-clr-green-100,
  200: $ot-clr-green-200,
  300: $ot-clr-green-300,
  400: $ot-clr-green-400,
  500: $ot-clr-green-500,
  600: $ot-clr-green-600,
  700: $ot-clr-green-700,
  800: $ot-clr-green-800,
  900: $ot-clr-green-900,
  950: $ot-clr-green-950,
);

$color-orange: (
  50: $ot-clr-orange-50,
  100: $ot-clr-orange-100,
  200: $ot-clr-orange-200,
  300: $ot-clr-orange-300,
  400: $ot-clr-orange-400,
  500: $ot-clr-orange-500,
  600: $ot-clr-orange-600,
  700: $ot-clr-orange-700,
  800: $ot-clr-orange-800,
  900: $ot-clr-orange-900,
  950: $ot-clr-orange-950,
);

$color-red: (
  50: $ot-clr-red-50,
  100: $ot-clr-red-100,
  200: $ot-clr-red-200,
  300: $ot-clr-red-300,
  400: $ot-clr-red-400,
  500: $ot-clr-red-500,
  600: $ot-clr-red-600,
  700: $ot-clr-red-700,
  800: $ot-clr-red-800,
  900: $ot-clr-red-900,
  950: $ot-clr-red-950,
);

