$ot-clr-neutral-50: rgba(244, 246, 247, 1);
$ot-clr-neutral-100: rgba(238, 240, 241, 1);
$ot-clr-neutral-200: rgba(221, 224, 227, 1);
$ot-clr-neutral-300: rgba(203, 209, 214, 1);
$ot-clr-neutral-400: rgba(186, 193, 200, 1);
$ot-clr-neutral-500: rgba(169, 178, 186, 1);
$ot-clr-neutral-550: rgba(152, 162, 172, 1);
$ot-clr-neutral-600: rgba(135, 147, 159, 1);
$ot-clr-neutral-650: rgba(118, 131, 145, 1);
$ot-clr-neutral-700: rgba(103, 116, 128, 1);
$ot-clr-neutral-750: rgba(75, 85, 94, 1);
$ot-clr-neutral-800: rgba(62, 69, 77, 1);
$ot-clr-neutral-850: rgba(62, 69, 76, 1);
$ot-clr-neutral-900: rgba(48, 54, 60, 1);
$ot-clr-neutral-950: rgba(34, 38, 42, 1);
$ot-clr-neutral-1000: rgba(28, 32, 35, 1);
$ot-clr-primary-50: rgba(237, 243, 255, 1);
$ot-clr-primary-100: rgba(222, 234, 255, 1);
$ot-clr-primary-200: rgba(196, 215, 255, 1);
$ot-clr-primary-300: rgba(160, 189, 255, 1);
$ot-clr-primary-400: rgba(112, 143, 255, 1);
$ot-clr-primary-500: rgba(91, 114, 249, 1);
$ot-clr-primary-600: rgba(61, 73, 238, 1);
$ot-clr-primary-700: rgba(47, 54, 211, 1);
$ot-clr-primary-800: rgba(41, 49, 170, 1);
$ot-clr-primary-900: rgba(41, 50, 134, 1);
$ot-clr-primary-950: rgba(24, 27, 78, 1);
$ot-clr-green-50: rgba(239, 254, 241, 1);
$ot-clr-green-100: rgba(218, 254, 224, 1);
$ot-clr-green-200: rgba(182, 252, 195, 1);
$ot-clr-green-300: rgba(126, 247, 149, 1);
$ot-clr-green-400: rgba(52, 232, 87, 1);
$ot-clr-green-500: rgba(22, 209, 59, 1);
$ot-clr-green-600: rgba(11, 174, 43, 1);
$ot-clr-green-700: rgba(13, 136, 38, 1);
$ot-clr-green-800: rgba(16, 107, 35, 1);
$ot-clr-green-900: rgba(15, 88, 32, 1);
$ot-clr-green-950: rgba(2, 49, 13, 1);
$ot-clr-orange-50: rgba(255, 249, 241, 1);
$ot-clr-orange-100: rgba(255, 240, 220, 1);
$ot-clr-orange-200: rgba(255, 223, 179, 1);
$ot-clr-orange-300: rgba(255, 205, 139, 1);
$ot-clr-orange-400: rgba(255, 188, 98, 1);
$ot-clr-orange-500: rgba(255, 170, 57, 1);
$ot-clr-orange-600: rgba(255, 146, 1, 1);
$ot-clr-orange-700: rgba(200, 114, 0, 1);
$ot-clr-orange-800: rgba(144, 82, 0, 1);
$ot-clr-orange-900: rgba(88, 50, 0, 1);
$ot-clr-orange-950: rgba(60, 34, 0, 1);
$ot-clr-red-50: rgba(255, 241, 241, 1);
$ot-clr-red-100: rgba(255, 224, 224, 1);
$ot-clr-red-200: rgba(255, 199, 199, 1);
$ot-clr-red-300: rgba(255, 159, 159, 1);
$ot-clr-red-400: rgba(255, 104, 104, 1);
$ot-clr-red-500: rgba(250, 57, 57, 1);
$ot-clr-red-600: rgba(233, 36, 36, 1);
$ot-clr-red-700: rgba(195, 18, 18, 1);
$ot-clr-red-800: rgba(161, 19, 19, 1);
$ot-clr-red-900: rgba(133, 23, 23, 1);
$ot-clr-red-950: rgba(73, 6, 6, 1);
