$ot-color-neutral: (
  50: $ot-color-neutral-50,
  100: $ot-color-neutral-100,
  200: $ot-color-neutral-200,
  300: $ot-color-neutral-300,
  400: $ot-color-neutral-400,
  500: $ot-color-neutral-500,
  550: $ot-color-neutral-550,
  600: $ot-color-neutral-600,
  650: $ot-color-neutral-650,
  700: $ot-color-neutral-700,
  750: $ot-color-neutral-750,
  800: $ot-color-neutral-800,
  850: $ot-color-neutral-850,
  900: $ot-color-neutral-900,
  950: $ot-color-neutral-950,
  1000: $ot-color-neutral-1000,
);

$ot-color-primary: (
  50: $ot-color-primary-50,
  100: $ot-color-primary-100,
  200: $ot-color-primary-200,
  300: $ot-color-primary-300,
  400: $ot-color-primary-400,
  500: $ot-color-primary-500,
  600: $ot-color-primary-600,
  700: $ot-color-primary-700,
  800: $ot-color-primary-800,
  900: $ot-color-primary-900,
  950: $ot-color-primary-950,
);

$ot-color-green: (
  50: $ot-color-green-50,
  100: $ot-color-green-100,
  200: $ot-color-green-200,
  300: $ot-color-green-300,
  400: $ot-color-green-400,
  500: $ot-color-green-500,
  600: $ot-color-green-600,
  700: $ot-color-green-700,
  800: $ot-color-green-800,
  900: $ot-color-green-900,
  950: $ot-color-green-950,
);

$ot-color-orange: (
  50: $ot-color-orange-50,
  100: $ot-color-orange-100,
  200: $ot-color-orange-200,
  300: $ot-color-orange-300,
  400: $ot-color-orange-400,
  500: $ot-color-orange-500,
  600: $ot-color-orange-600,
  700: $ot-color-orange-700,
  800: $ot-color-orange-800,
  900: $ot-color-orange-900,
  950: $ot-color-orange-950,
);

$ot-color-red: (
  50: $ot-color-red-50,
  100: $ot-color-red-100,
  200: $ot-color-red-200,
  300: $ot-color-red-300,
  400: $ot-color-red-400,
  500: $ot-color-red-500,
  600: $ot-color-red-600,
  700: $ot-color-red-700,
  800: $ot-color-red-800,
  900: $ot-color-red-900,
  950: $ot-color-red-950,
);
